:root {
    --color-brand: #2B7FFF;
    --color-primary-dark: #011C44;
    --color-primary-white: #FFFFFF;
    --color-gray-dark: #4A4A4A;
    --color-gray-light: #747272;
    --color-black: #000;
}

$bp-mobile: 480px;
$bp_tablet: 768px;
$bp_desktop: 1280px;